.Main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #4e89ff;
    min-height: 10vh;
    min-width: 5vh;
    font-size: calc(5px + 2vmin);
    color: rgb(0, 0, 0);
  }
  
  .ViewImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vmin;
  }
  
  .ViewImage1 {
    height: 40vmin;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .ViewButton {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }
  
  .ViewButton1 {
    margin-left: 10px;
  }
  
  .ViewButton2 {
    margin-right: 10px;
  }
  
  .Button1 {
    height: 50px;
    width: 50px;
    background-color: rgb(233, 46, 33);
    border-radius: 10px;
    font-size: 30px;
    color: rgb(0, 0, 0);
  }

  .Button2 {
    height: 50px;
    width: 50px;
    background-color: rgb(219, 248, 51);
    border-radius: 10px;
    font-size: 30px;
    color: rgb(0, 0, 0);
  }
  
  .Text{
    font-size: 25px;
  }
  